footer {
  border-top: 2px solid #ccc;
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
footer .copyright p {
  width: 30%;
  border-right: 2px solid #000;
  font-size: 0.7rem;
}
footer .copyright p:last-child { border: 0; }
footer .disclaimer p {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  font-size: 0.7rem;
  font-family: 'san-serif';
}
footer .disclaimer .red {
  color: red;
}