@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
  font-family: 'Open Sans', 'Noto Sans', sans-serif;
  background-color: #fff;
  color: #000;
  transition: all 100ms;
}
body.dark-mode {
  background-color: #222;
  color: #fff;
}
.shadow { box-shadow: 0 0 10px 5px #ddd; }
body.dark-mode 
.shadow { box-shadow: 0 0 10px 5px #111; }

body.dark-mode
.submit button {
  background-color: #fff;
  color: #000;
}
body.dark-mode
.submit button:hover { background-color: #ccc; }

#tab-content {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
#tab-content:focus,
#tab-content:focus-visible {
  opacity: 1;
}

@media print {
  header, footer, .video {
    display: none !important;
  }
  body, button, input, textarea, body h1 {
    background-color: #fff !important;
    text-shadow: none !important;
    color: #000 !important;
  }
  img {
    width: 250px !important;
  }
  .shadow {
    box-shadow: 0 0 10px 5px #ddd !important;
  }
  .logo {
    width: 40px !important;
  }
}