body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}
header > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
nav ul {
  min-height: 60px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
nav li {
  margin: 10px 10px;
}
nav li > a {
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 800;
  font-size: 0.875rem;
  border-radius: 20px;
  cursor: pointer;
  color: inherit;
  transition: background-color 200ms;
}
nav li > a.active { background-color: #f0f0f0; }
nav li > a:hover { background-color: #d0d0d0; }

body.dark-mode
nav li > a.active { background-color: #1a1a1a; }
body.dark-mode
nav li > a:hover { background-color: #0a0a0a; }

header .darkmode > #darkmode-button {
  cursor: pointer;
}

@media (max-width: 768px) {
 
}