
#copyright, #motto {
    /* szöveg középre igazítása */
	text-align:center;
}

h2, a, p {
   /* szöveg balra igazítása */
   text-align: left;
}

#mainimage{
    background-image: url('../kepek/man-1282232.jpg')
}

.backgroundimage{
    
    width: 50%;
    height: 200%;

}
.image{

}