

#copyright, #motto {
    /* szöveg középre igazítása */
	text-align:center;
}

h2, a, p {
   /* szöveg balra igazítása */
   text-align: left;
}


.container-relative_position {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.top-left {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.centered{
    position: absolute;
        top: 17%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.nav-link{
    color: red !important;
}

/* Haromszognek div*/
.container-triangle {position:absolute; width: 0; height: 0; }
/* specifikusan lefele mutato haromszog: */
.container-triangle.down {
    z-index: 1;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 15vh solid white;
  }

.tothetop{
    z-index: 2;
}