
#copyright, #motto {
    /* szöveg középre igazítása */
	text-align:center;
}

h2, a, p {
   /* szöveg balra igazítása */
   text-align: left;
}

#mainimage{
    background-image: url('../kepek/man-1282232.jpg')
}

.backgroundimage{
    
    width: 50%;
    height: 200%;

}
#snatch_man{
    background-image: url("../kepek/man-1282232.jpg");
    height:300px;
}

.text-overlay {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
  }

.image{

}