
h6{
    position: relative;
    top: 0px; /* positions the .child 20px from the top edge of .parent */
    left: 13rem; /* positions the .child 20px from the left edge of .parent */
}


table caption {
    caption-side: top; /* This positions the caption above the table */
    size: 4rem;
  }
  

  